@import "tailwindcss";

/* Kita set font default dan background gelap disini */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-slate-950 text-slate-100 font-sans min-h-screen antialiased;
}